<!DOCTYPE html>

<html lang='en'>
<head>
    {{> head}}
</head>

<body>
    {{#unless Login}}
    {{#unless Register}}
        {{> header}}
    {{/unless}}
    {{/unless}}
    <main>
        {{#if error}}
            <p>{{error}}</p>
        {{/if}}
        <!-- It is possible to have only the success message, so i need the class-->
        {{#if success}}
            <p class='success'>{{success}}</p>
        {{/if}}
        {{{body}}}
    </main>
</body>