<section>
    <p>If you accepted cookies and with to decline them, <a href='declineCookies'>click here</a></p>
    <h1>Cookies Policy</h1>
    <p>Last updated: 28/11/2021</p>
    <p>We use cookies on Instant parcel. By using the Service, you consent to the use of cookies</p>
    <p>Our Cookies Policy explains what cookies are, how we use cookies, how third-parties we may partner with may use cookies on the Service, your choices regarding cookies and further information about cookies.</p>

    <h1>What are cookies</h1>
    <p>Cookies are small pieces of text sent by your web browser by a website you visit. A cookie file is stored in your web browser and allows the Service or a third-party to recognize you and make your next visit easier and the Service more useful to you.</p>
    <p>Cookies can be "persistent" or "session" cookies. </p>

    <h1>How Instant Parcel uses cookies </h1>
    <p>When you use and access the Service, we may place a number of cookies files in your web browser. </p>
    <p>We use cookies for the following purposes: </p>
    <p> - To enable the login </p>
    <p> - To check the type of user </p>
    <p> - Verify if the cookies has been accepted </p>

    <h1>Third-party cookies </h1>
    <p>Currently, we don't use any third-party cookies</p>

    <br>
    <p>Since we use cookies only for essential use, it is not possible to use the website without accepting them because you need to be logged in to use the website.
        You can only create an account without accepting the cookies
    </p>
</section>