<form action="/manageParcel" method="post">
    <label for='trackingNumber'>Assign a Parcel</label>
    <input type='text' name='trackingNumber' placeholder='Insert tracking number' autofocus>
    <input type='submit'>
</form>