<header>
	<h1>Create an Account</h1>
	<a href="/login">Log in</a>
</header>
<main>
	<form action="/register" method="post">
		<p>
			<label for="user">Username</label><br />
			<input type="text" name="userName" placeholder="your preferred username" value="{{body.user}}">
		</p>
		<p>
			<label for="pass">Password</label><br />
			<input type="password" name="password" placeholder="your chosen password">
		</p>
		<p>
			<label for="pass2">Password (again)</label><br />
			<input type="password" name="password2" placeholder="your chosen password">
		</p>
		<p>
			<label for="email">email</label><br />
			<input type="email" name="email" placeholder="your chosen email">
		</p>
		<p><input type="submit" value="Create"></p>
	</form>
</main>