
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create an Account</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<meta name="viewport" content= "width=device-width, initial-scale=1.0">
		<link href="/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Create an Account</h1>
		<a href="/login">Log in</a>
		</header>
		<main>
		<form action="/register" method="post">
			<p>
				<label for="user">Username</label><br />
				<input type="text" name="username" placeholder="your preferred username" value="{{body.user}}">
			</p>
			<p>
				<label for="pass">Password</label><br />
				<input type="password" name="password" placeholder="your chosen password">
			</p>
			<p>
				<label for="pass2">Password (again)</label><br />
				<input type="password" name="password2" placeholder="your chosen password">
			</p>
			<p><input type="submit" value="Create"></p>
		</form>
		</main>
	</body>
</html>
