<form action='/sendParcel' onsubmit='form_combine_address()' method='post'>
    <h1>Send Parcel</h1>

    <label for='parcelName'>Parcel name *</label>
    <input type='text' name='parcelName' placeholder='Parcel Name' autofocus required>

    <section>
        <section>
            <h2>Your details</h2>
            <label for='senderPostcode'>Postal Code *</label>
            <section>
                <input type='text' name='senderPostcode' placeholder='Your postal code' required>
                <button onclick='getFullAddress(this, "senderAddressLabel")' type="button">Get Address</button>
            </section>
            
            <label for='senderHouseNumber'>House Number *</label>
            <input type='number' name='senderHouseNumber' placeholder='Your house number' required>
            
            <label name='senderAddressLabel'></label>
            <input type='hidden' name='senderAddress'>
        </section>

        <section>
            <h2>Destination details</h2>
            <label for='destinationPostcode'>Postal Code *</label>
            <section>
                <input type='text' name='destinationPostcode' placeholder='Destination postal code' required>
                <button onclick='getFullAddress(this, "destinationAddressLabel", true)' type="button">Get Address</button>
            </section>

            <label for='destinationHouseNumber'>House Number *</label>
            <input type='number' name='destinationHouseNumber' placeholder='Destination house number' required>

            <label name='destinationAddressLabel'></label>

            <input type='hidden' name='destinationAddress'>
            <input type='hidden' name='destinationLat'>
            <input type='hidden' name='destinationLng'>
        </section>   
    </section>
    
    <label for='kgs'>Weight of the parcel</label>
    <section>
        <input type='range' name='kgs' min='1' value='10' max='20' onload='showRange(this.nextElementSibling, this.value)' oninput='showRange(this.nextElementSibling, this.value)' required>
        <p>10</p>
        <p>Kgs</p>
    </section>
    
    <input type='submit' value='Send Parcel'>
</form>

<script src='{{host}}/js/sendParcel.js'></script>
