@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,300;0,400;0,700;1,400&display=swap'); /*Text font*/

/* NON SPECIFIC CSS */
:root {    /*Colors for website*/
    --main: #370bba;
    --secondary: #f0b829;
    --background: #fcfcf2;
    --whiteBackroud: #fdfef9;
    --font: #262626;
    --error: red;
    --success: green;
}

*:focus:hover:active {    /*Add general css to when something is being clicked (and is clickable)*/
    opacity: 0.5;
}

html, body {    /*Change background color and removes margin*/
    background-color: var(--background);
    margin: 0;
}

body
{    /*Add style to all text*/
    color: var(--font);
    font-family: 'Noto Sans Display', sans-serif;
}

input, textarea, button {   /*Add general style to inputs and button*/
    padding: 5px;
    border-radius: 5px; /*Round borders*/
    color: var(--font) !important;  /*Overwrite default browser css*/
    font-family: 'Noto Sans Display', sans-serif;   /*Set font*/
    display: block;
}

input[type="range"] {   /*Remove padding from range*/
    padding: 0;
}

h1 {    /*Sets style for titles*/
    font-size: 32px;
    margin: 10px 0;
}

h2 {    /*Style for subtitle*/
    font-size: 24px;
}

p, label {  /*style for text*/
    font-size: 16px;
    margin: 0;
}

input:not([type="submit"]), textarea {  /*style for inputs (except submit)*/
    margin-bottom: 10px;
    width: -webkit-fill-available;  /*Width -webkit-fill-available (Using this because 100% isnt working correctly with padding and flex parent)*/
}

input[type='submit'], button {  /*Style for buttons*/
    background-color: var(--secondary);
    border: none;   /*Remove border*/
    border-radius: 5px; /*Round edges */
    padding: 10px;
    cursor: pointer;    /*Sets mouse to clickable icon*/
}

figure {    /*Removes default margin on figures*/
    margin: 0;
}

/*error message*/
main > p:first-child {
    width: 100%;    /*occupy same width as parent (main)*/
    padding: 20px;  
    margin-bottom: 20px;
    border-radius: 5px; /*Round edges (error message will be in a red box created by this css)*/
    color: white;   /*Colors text to white*/
    background-color: var(--error); /*background-color set to error color*/
}

/*Success Message
Only change the background color to green because the other css is in the error message*/
main > p:first-child.success {
    background-color: var(--success);
}

/*Modal cookies*/
body>aside {    /*Sets the cookies to occupy all page*/
    position: fixed;    /*Sets fixed to put it in front of everything*/
    top: 0;  /*Starts at the beggining of the page*/
    right: 0;
    display: none;  /*Default the cookies modal is not visible*/
    width: 100%;    /*Set with to occupy full page*/
    height: 100%;   /*Set height to occupy full page*/
    background-color: rgba(0,0,0,0.5);  /*Adds background-color to focus on the cookies modal*/
    overflow: auto; /*Allow scroll if needed*/
    z-index: 1; /*Set priority*/
}

body>aside>section {    /*The cookies modal itself (The parent is just to occupy full page)*/
    position: relative; /*position relative for inside absolute button to respect the parent position*/
    background-color: var(--background);    /*Adds a background color*/
    border-radius: 5px; /*Rounds the border*/
    border: 1px solid var(--font);  /*Adds border*/
    padding: 15px;  
    margin: auto;   /*Aligns to center*/
    width: 490px;   /*Sets width*/
}

body>aside>section>p {  /*Remove Login and register paraghrapg style*/
    border-radius: 0px;
    padding: 0px;
    box-shadow: none;
    background-color: transparent;
}

body>aside>section>button:first-child { /*close button css*/
    position: absolute; /*Sets absolute to be able to define position*/
    right: 5px; /*Sets it at top rigth corner*/
    top: 5px;
    padding: 6px;   
    font-weight: bold;  /*makes X Bold*/
}

body>aside>section p>a {    /*Removes the a default color on paragraphs*/
    color: var(--font);
}

body>aside>section>a {  /*Styles Accept cookies link to look like a button*/
    background-color: var(--secondary); /*Adds background color*/
    border-radius: 5px; /*Rounds border*/
    margin: auto;   /*Aligns center*/
    padding: 10px;  
    text-decoration: none;  /*Removes text underline*/
    color: var(--font) !important;  /*Sets color to font*/
    display: block; /*Makes it block to be able to center it with margin auto*/
    width: fit-content; /*Make width only the needed one*/
}