@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,300;0,400;0,700;1,400&display=swap'); /*Text font*/

/* NON SPECIFIC CSS */
:root {    /*Colors for website*/
    --main: #370bba;
    --secondary: #f0b829;
    --background: #fcfcf2;
    --whiteBackroud: #fdfef9;
    --font: #262626;
    --error: red;
    --success: green;
}

*:focus:hover:active {    /*Add general css to when something is being clicked (and is clickable)*/
    opacity: 0.5;
}

html, body {    /*Change background color and removes margin*/
    background-color: var(--background);
    margin: 0;
}

body
{    /*Add style to all text*/
    color: var(--font);
    font-family: 'Noto Sans Display', sans-serif;
}

input, textarea, button {   /*Add general style to inputs and button*/
    padding: 5px;
    border-radius: 5px; /*Round borders*/
    color: var(--font) !important;  /*Overwrite default browser css*/
    font-family: 'Noto Sans Display', sans-serif;
    display: block;
}

input[type="range"] {   /*Remove padding from range*/
    padding: 0;
}

h1 {    /*Sets style for titles*/
    font-size: 32px;
    margin: 10px 0;
}

h2 {    /*Style for subtitle*/
    font-size: 24px;
}

p, label {  /*style for text*/
    font-size: 16px;
    margin: 0;
}

input:not([type="submit"]), textarea {  /*style for inputs (except submit)*/
    margin-bottom: 10px;
    width: -webkit-fill-available;  /*Width 100% (Using this because 100% isnt working correctly with padding and flex parent)*/
}

input[type='submit'], button {  /*Style for buttons*/
    background-color: var(--secondary);
    border: none;   /*Remove border*/
    border-radius: 5px; /*Round edges */
    padding: 10px;
    cursor: pointer;    /*Sets mouse to clickable icon*/
}

figure {    /*Removes default margin on figures*/
    margin: 0;
}

/*error message*/
main > p:first-child {
    width: 100%;    /*occupy same width as parent (main)*/
    padding: 20px;  
    margin-bottom: 20px;
    border-radius: 5px; /*Round edges (error message will be in a red box created by this css)*/
    color: white;
    background-color: var(--error);
}

/*Success Message
Only change the background color to green because the other css is in the error message*/
main > p:first-child.success {
    background-color: var(--success);
}

/*Modal cookies*/
body>aside {
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    z-index: 1;
}

body>aside>section {
    position: relative;
    background-color: var(--background);
    border-radius: 5px;
    border: 1px solid var(--font);
    padding: 15px;
    margin: auto;
    width: 490px;
}

body>aside>section>p {
    border-radius: 0px;
    padding: 0px;
    box-shadow: none;
    background-color: transparent;
}

body>aside>section>button:first-child {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 6px;
    font-weight: bold;
}

body>aside>section p>a {
    color: var(--font);
}

body>aside>section>a {
    background-color: var(--secondary);
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    color: var(--font) !important;
    display: block;
    width: fit-content;
}