input[name='locationReceivedLat'], input[name='locationReceivedLng'] {  /*Make lat and Lng inputs not shown*/
    opacity: 0; /*Makes them transparent*/
    width: 100%;    /*Width to maximum for input validity to work*/
    height: 0;  /*Heigth to 0 to remove spacing from these inputs*/
    float: left;    /*Float left for input validity to be correct*/
    margin: 0;  /*Removes margin*/
    padding: 0; /*Removes spacing*/
}

/*https://css-tricks.com/snippets/css/custom-file-input-styling-webkitblink/*/
input[type='file'] {    /*Removes padding left for file text to be close to button*/
    padding-left: 0;
}

input[type='file']::-webkit-file-upload-button {    /*Makes file button invisible (We are going to create a new one)*/
    visibility: hidden; 
    width: 0;
    padding: 0;
}

input[type='file']::before {    /*Creates new input file button*/
    content: 'Select some files';   /*Sets its text*/
    display: inline-block;
    border: 1px solid #999; /*Adds border*/
    border-radius: 3px; /*rounds border*/
    padding: 5px 8px;    
    cursor: pointer;    /*Makes file clickable*/
    font-weight: bold;  /*Makes text bold*/
}

input[type='file']:hover::before {  /*On hoover add border*/
    border-color: black;
}

input[type='file']:active::before { /*On active add linear background color*/
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}