@import 'mobile/homepage-mobile.css'; /*Import homepage css for mobile*/

main {  /* Main css */
    display: flex;
    flex-wrap: wrap;    /*flex wrap to allow width 100% to breack line*/
    justify-content: center;    /*Align items to center*/
    margin: 20px;   /*Adds margin*/
}

section {   /* Each parcel */
    display: grid;  /*Display grid to put all parcels of that row with the same height*/
    width: calc(25% - 54px); /*Set width to a quarter of the page (At maximum there will be 4 items per row)*/
    min-width: 300px; /*Sets the minimum size*/
    border: 2px solid var(--font);  /*Create border*/
    padding: 15px;  /*Add Spacing from the border*/
    margin: 10px;   /*Add spacing between parcels*/
}

section > a {
    background-color: var(--secondary);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 20px auto 0px auto;
    padding: 10px 24px;
    text-decoration: none;
    color: var(--font) !important;
    font-family: 'Noto Sans Display', sans-serif;
    display: block;
    font-size: initial;
}

h1 {    /*Title to center and break line*/
    width: 100%;
    text-align: center;
    margin-top: 0px; /*Removes margin top added by common.css*/
}

p { /*Add space between parcel details*/
    margin-bottom: 10px;
}

p:last-of-type {  /*Last detail from parcel doesnt have a margin bottom*/
    margin-bottom: 0px;
}

h2 {    /*Add margin for parcel title*/
    margin: 0 0 10px 0;
}

/* User Homepage Css */
.not-dispatched {   /*Style for when an item is not-dispatched (Css class called from JS)*/
    color: var(--error);
}

.in-transit {   /*Style for when an item is in-transit (Css class called from JS)*/
    color: var(--secondary);
}

.delivered {    /*Style for when an item is delivered (Css class called from JS)*/
    color: var(--success);
}

/* Courier Homepage Css */
main > p:first-child {  /*Set Error/succ message to 500px*/
    width: 500px;
}

form {
    width: 500px;
    border: solid 2px var(--font);
    padding: 20px;
    margin-bottom: 20px;
}

form > input[type='submit'] {
    margin: 20px auto 0px auto;
    padding: 10px 24px;
    font-size: 16px;
}

hr {
    flex-basis: 100%;
    border: none;
    margin: 0;
}
