/* MOBILE */
@media only screen and (max-width: 628px) {   
    html main>form {
        width: calc(100% - 20px);
        padding: 10px;
    }

    html form>section:first-of-type {
        display: block;
    }
    
    html section > section:first-of-type {
        margin-right: 0;
    }
}
/* END MOBILE */