/* Mobile send parcel */
@media only screen and (max-width: 628px) {   
    html main>form {    /*Make form occupy all page*/
        width: calc(100% - 20px);
        padding: 10px;  /*Add padding to form*/
    }

    html form>section:first-of-type {   /*Add display block to separate details into different lines*/
        display: block;
    }
    
    html section > section:first-of-type {  /*Remove right margin to first detail*/
        margin-right: 0;
    }
}
