/*  HEADER CSS */
header {    /*Main component of header*/
    background-color: var(--main);  /*Add background-color*/
    padding: 20px;
    display: flex;  /*display flex to put all segments on the same line*/
    justify-content: space-between; /*space between to have logo on left, send parcel button on middle and logout on right*/
}

header nav {    /*header navigation*/
    margin: auto;   /*Sets margin auto to vertically align navigation*/
}

header ul { /*Remove default css from unordered list*/
    margin: 0;
    padding: 0;
}

header li { /*Remove default css from list items and added a horizontal margin*/
    list-style-type: none;
    margin: 0 10px;
}

header a {  /*Navigation text css*/
    color: white;   /*change text color*/
    text-decoration: none;  /*Remove underline from a element*/
    font-size: 18px;    /*Set font size*/
}

header a:last-child {   /*Align vertically logout button*/
    margin: auto 0;
}